.detail {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #303A51;
    width: 270px;
    height: 65px;
    color: white;
    justify-content: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    -webkit-box-shadow: 1px 1px 40px -15px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 40px -15px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 40px -15px rgba(0, 0, 0, 1);

    .weather {
        display: flex;
        flex-direction: column;
    }
}