.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // width: 100%;
    padding-top: 100px;

    object {
        width: 100px;
        height: 100px;
    }
}