.overview {
    padding-top: 100px;
    min-height: 300px;
    background-color: #0F172A;
    color: white;
    display: flex;
    justify-content: center;
    gap: 15px;

    // justify-content: space-around;
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        object {
            width: 100px;
            height: 100px;
        }
    }

    .wrapper {
        display: flex;
        gap: 15px;


        .leftDiv {
            -webkit-box-shadow: 1px 4px 17px -12px rgba(153, 153, 153, 1);
            -moz-box-shadow: 1px 4px 17px -12px rgba(153, 153, 153, 1);
            box-shadow: 1px 4px 17px -12px rgba(153, 153, 153, 1);
            // margin-left: 50px;
            border: 1px solid rgba(255, 255, 255, 0.178);
            background-color: rgba(155, 170, 205, 0.238);
            border-radius: 10px;
            width: 290px;
            height: 290px;
            padding: 10px 10px 0px 10px;
            // font-family: "Lora", serif;
            font-family: "Inter", sans-serif;
            // font-family: "Montserrat", sans-serif;

            .iconShow {
                display: flex;
                justify-content: center;

                object {
                    width: 50px;
                    height: 50px;
                }
            }

            .temperature {
                display: flex;
                justify-content: center;
                font-size: 30px;
            }

            hr {
                margin: 10px 0 10px 0;
            }

            .weatherMain {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }

            .subDiv {
                display: flex;
                align-items: center;
                // justify-content: center;
                gap: 5px;

                .iconImg {
                    object {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        .icon {
            width: 30px;
            height: 30px;
        }

        .weather-info {
            display: grid;
            grid-template-columns: repeat(2, 210px);
            grid-auto-rows: 154px;
            font-family: "Inter", sans-serif;
            width: 410px;

            .widget1 {
                -webkit-box-shadow: 6px 4px 17px -12px rgba(153, 153, 153, 1);
                -moz-box-shadow: 6px 4px 17px -12px rgba(153, 153, 153, 1);
                box-shadow: 6px 4px 17px -12px rgba(153, 153, 153, 1);

                border: 1px solid rgba(255, 255, 255, 0.178);
                background-color: rgba(155, 170, 205, 0.238);
                border-radius: 8px;
                height: 145px;
                width: 200px;
                // padding: 10px 10px 0px 10px;
                // font-family: "Lora", serif;
                display: flex;
                align-items: center;
                column-gap: 20px;
                row-gap: 10px;
                justify-content: center;

                .type {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    // align-items: center;
                    justify-content: center;

                    .iconImg {
                        object {
                            width: 30px;
                            height: 30px;

                        }
                    }

                    .widgetName {
                        font-family: "Inter", sans-serif;
                        font-size: 17px;
                    }

                    .values {
                        font-family: "Inter", sans-serif;
                    }
                }
            }
        }
    }

    .fiveDayWeather {
        -webkit-box-shadow: 1px 4px 17px -12px rgba(153, 153, 153, 1);
        -moz-box-shadow: 1px 4px 17px -12px rgba(153, 153, 153, 1);
        box-shadow: 1px 4px 17px -12px rgba(153, 153, 153, 1);

        border: 1px solid rgba(255, 255, 255, 0.178);
        background-color: rgba(155, 170, 205, 0.238);
        display: flex;
        flex-direction: column;
        font-family: 'Inter', sans-serif;
        height: 280px;
        width: 310px;
        // padding: 10px 10px 0px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 10px 0px 10px 0px;

        .fiveDayWeatherContent {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            align-items: center;

            .fiveDayWeatherCard {
                width: 90%;
                display: flex;
                align-items: center;
                // row-gap: 40%;
                justify-content: space-around;

                .dayWeatherInfo {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-left: 10px;
                    font-size: 15px;
                    // font-size: 10px;
                    font-family: 'Inter', sans-serif;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

    }
}

@media screen and (max-width:1000px) {
    .overview {
        flex-direction: column;
        align-items: center;

        .fiveDayWeather {
            width: 730px;
        }
    }
}

// to make the leftDiv responsive, the overview will be split into two rows, top and bottom,
// top will contain region details and weather details, bottom will contain the 5 day weather forecast
@media screen and (max-width:760px) {
    .overview {
        .wrapper {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            align-items: center;

            .leftDiv {
                width: 80%;
            }

            .weather-info {
                width: 80%;
                grid-template-columns: repeat(2, auto);
                grid-auto-rows: 200px;
                // background-color: red;   
                // padding-left: 40px;

                .widget1 {
                    // width: 200px;
                    width: 95%;
                    // width: 100%;
                    height: 190px;
                }
            }
        }

        .fiveDayWeather {
            width: 80%;
        }
    }
}

// to make the widgets responsive, they will now appear as a single column
@media screen and (max-width: 530px) {
    .overview {
        .wrapper {
            .weather-info {
                width: 80%;
                grid-template-columns: auto;
                grid-auto-rows: 200px;

                .widget1 {
                    width: auto;
                    height: 190px;
                }
            }
        }
    }
}

// to deal with the extra height added to the navbar to make it responsive
@media screen and (max-width:560px) {
    .overview {
        padding-top: 150px;
    }
}